@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.music-container {
  background-color: #fff;
  border-radius: 10.5px; /* 15 * 0.7 */
  box-shadow: 0 14px 14px 0 #677681; /* 20 * 0.7 */
  display: flex;
  padding: 14px 21px; /* 20/30 * 0.7 */
  position: absolute;
  top: 40px; /* 40 * 0.7 */
  right: 100px; /* 20 * 0.7 */
  cursor: grab;
  z-index: 100;
  width: 245px; /* scaled down from ~350px */
}

.img-container {
  position: relative;
  width: 77px; /* 110 * 0.7 */
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 14px; /* 20 * 0.7 */
  height: 14px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 77px; /* 110 * 0.7 */
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 14px; /* 20 * 0.7 */
  cursor: pointer;
  padding: 7px; /* 10 * 0.7 */
  margin: 0 14px; /* 20 * 0.7 */
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 21px; /* 30 * 0.7 */
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10.5px 10.5px 0 0;
  position: absolute;
  top: 0;
  left: 14px; /* 20 * 0.7 */
  width: calc(100% - 28px); /* 40 * 0.7 */
  padding: 7px 7px 7px 105px; /* 10 and 150 * 0.7 */
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
  font-size: 12px;
}

.progress-container {
  background: #fff;
  border-radius: 3.5px;
  cursor: pointer;
  margin: 7px 0; /* 10 * 0.7 */
  height: 3px; /* 4 * 0.7 */
  width: 100%;
}

.progress {
  background-color: #40E0D0;
  border-radius: 3.5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
